<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_dash}">
<head>
    <title>Mi Perfil</title>
    <style>
        @media (max-width: 768px) {
            .profile-card-container{
                display: block !important;
                width: 100% !important;
            }
        }
        .img-label{
            position: absolute; bottom: 0;outline: none;box-sizing: border-box;
            cursor: pointer;transition: 0.5s;background: rgba(0,0,0,0.5);opacity: 0;
            color: transparent;
            width: 100%;
            height: 50%;
            display: grid;
            justify-content: center;
        }
        .img-input{
            position: absolute;
            color: transparent;
        }
        .img-input::file-selector-button{
            display: none;
        }
        .img-label::file-selector-button{
            display: none;
        }
        .img-label::before {
            content: "\f030"; /*  */
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: #fff;
            display: inline-block;
            font-size: xx-large;
            position: relative;
        }
        .img-label:hover{
            opacity: 1;
        }

    </style>
    <script>
    $(document).ready(function() {
        $("#adminImageInput").on('change', function(e) {
            const img = $("img[id^='adminImg-']");
            const modal = $("#profileImageModal");
            const modalImg = $("#modalProfileImg");
            const submitButton = $("#adminSubmitButton");

            if (e.target.files[0]) {
                const imgSizeBytes = e.target.files[0].size;
                const imgSizeMegabytes = imgSizeBytes / (1024 * 1024);
                const imgType = e.target.files[0].type;
                const reader = new FileReader();
                reader.onload = function(e) {
                    if(imgSizeMegabytes > 4){
                        alert('El tamaño de la imagen debe ser menor a 4 MB');
                        submitButton.prop("disabled", "true");
                    } else if (imgType != "image/jpeg" && imgType != "image/png"){
                        alert('El formato del archivo no es válido. Solo pueden ser imagenes con extensión .jpg o .png');
                        submitButton.prop("disabled", "true");
                    } else {
                        img.prop("src", e.target.result);
                        modalImg.prop("src", e.target.result);
                        modal.modal('show');
                    }
                }
                reader.readAsDataURL(e.target.files[0]);
            }
        });
    });
    </script>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!--Section: Inicio Votante -->
        <section class="content pt-5 mb-9 mx-auto">

            <div class="row mb-5">
                <div class="col-md-11">
                    <div class="card p-3 profile-card-container" style="display: -webkit-inline-box; width: 85%">
                        <!--<div class="profile-card-container" style="display: -webkit-inline-box;">-->
                        <form action="#"
                              th:action="@{/auth/admin-profile}"
                              th:method="post"
                              enctype="multipart/form-data">
                            <div class="col-md-4 py-5 mx-auto">
                                <div class="img-wrapper d-grid"
                                     style="position: relative;border: 2px solid;border-radius: 50%;margin: 10px auto;overflow: hidden; width: 170px; height: 170px;">
                                    <label class="img-label" for="adminImageInput"></label>
                                    <input type="file" name="file" id="adminImageInput"
                                           class="img-input w-100"
                                           accept="image/jpeg, image/png"
                                           style="">
                                    <img
                                            th:if="${#strings.isEmpty(adminData.profileImagePath)}"
                                            th:src="@{/static/img/admin-logo-test3.png}"
                                            id="adminImg-default"
                                            alt="imagen de perfil administrador"
                                            style="object-fit: cover; width: 170px; height: 170px;"
                                            class="img-fluid rounded-circle">
                                    <img
                                            th:unless="${#strings.isEmpty(adminData.profileImagePath)}"
                                            th:src="@{${adminData.profileImagePath}}"
                                            id="adminImg-custom"
                                            alt="imagen de perfil administrador"
                                            style="object-fit: cover; width: 170px; height: 170px;"
                                            class="img-fluid rounded-circle">
                                </div>
                            </div>

                            <!-- Image Upload Confirmation Modal -->
                            <div class="modal fade" id="profileImageModal" tabindex="-1"
                                 aria-labelledby="modalLabel8" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <div class="col-md-8"
                                                 style="position: relative; overflow: hidden; width: 60%; padding-bottom: 60%; height: 60%;">
                                                <img
                                                        th:src="@{/static/img/admin-logo-test3.png}"
                                                        id="modalProfileImg"
                                                        class="img-fluid p-1 w-100"
                                                        style="position: absolute; height: 100%; object-fit: cover; border-radius: 50%;">
                                            </div>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"
                                                    style="position: absolute;top: 0;right: 0;padding: inherit;"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Si desea establecer ésta como su imagen de perfil, haga
                                                <em>click</em> en <strong>Subir Imagen</strong>.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Volver
                                            </button>
                                            <button type="submit" id="adminSubmitButton" class="btn btn-primary">Subir Imagen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Image Upload Confirmation Modal -->

                        </form>
                        <div class="col-md-7 mx-auto">
                            <div class="card">
                                <ul style="list-style: none;">
                                    <li class="d-flex justify-content-between p-2 mt-3 mb-1">
                                        <span class="ms-0 text-muted">Nombre de Usuario:</span><span
                                            class="me-4 fw-bold" th:text="${adminData.username}"></span></li>
                                    <li class="d-flex justify-content-between p-2">
                                        <span class="ms-0 text-muted">Nombre(s) y Apellido(s):</span><span
                                            class="me-4 fw-bold"
                                            th:text="${adminData.firstName + #strings.concat(' ', adminData.lastName)}"></span>
                                    </li>
                                    <li class="d-flex justify-content-between p-2">
                                        <span class="ms-0 text-muted">Correo de Contacto:</span><span
                                            class="me-4 fw-bold" th:text="${adminData.email}"></span></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="card">
                                <ul style="list-style: none;">
                                    <li class="d-flex justify-content-between p-0 mt-3">
                                        <span class="ms-0 text-muted">Habilitado(a) para sufragar:</span><span
                                            class="me-4 my-auto badge badge-danger rounded-pill"><i
                                            class="fa-solid fa-xmark fs-6"></i></span></li>
                                </ul>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <hr class="mb-5 w-100 mx-auto">
            <a href="@{/auth/faq-admin}" class="text-start">Acerca de neovote</a>
            <hr class="mb-2 w-100 mx-auto" th:if="${#authentication.principal.username != 'admin'}">
            <a href="" class="text-start" data-mdb-toggle="modal" th:if="${#authentication.principal.username != 'admin'}"
               data-mdb-target="#deleteProfileConfirmationModal">Eliminar Perfil</a>

            <!-- Delete Profile Confirmation Modal -->
            <div class="modal fade"
                 id="deleteProfileConfirmationModal"
                 tabindex="-1"
                 aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="#"
                              th:action="@{/auth/delete-profile}"
                              th:method="delete">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel2">Remover Mi Cuenta</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">¿Está seguro(a) que desea eliminar su cuenta de administrador?
                                Al hacer click en <em>ELIMINAR PERFIL</em> se eliminará su perfil del sistema y si
                                desea volver a participar como administrador en <em>neovote</em>, deberá contactarse con
                                el super administrador para que lo agrege al sistema nuevamente.
                                <i class="fa-solid fa-circle-exclamation me-1"></i>
                                <strong>Esta acción no puede ser deshecha</strong>
                                <i class="fa-solid fa-circle-exclamation ms-1"></i>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-mdb-dismiss="modal">
                                    Volver
                                </button>
                                <button type="submit" class="btn btn-danger">Eliminar Perfil</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr class="mb-5 w-100 mx-auto">


        </section>
        <!--Section: Inicio Votante-->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>