<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_dash}">
<head>
    <title>Editar Elección</title>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!-- Section: Editar Elección -->
        <section class="content pt-5 mb-9 mx-auto">

        </section>
        <!-- Section: Editar Elección -->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>