<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_dash}">
<head>
    <title>Bienvenido</title>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!--Section: Inicio -->
        <section class="content pt-5 mb-9 mx-auto">
            <h3 class="text-left mb-4 pb-2 text-primary fw-bold">Bienvenido/a Administrador/a</h3>
            <p class="text-left mb-5">
                Estimado/a, con el fin de facilitar su tarea le explicaremos brevemente
                cada sección en el menú:
            </p>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-tachometer-alt text-primary pe-2"></i> Inicio</h6>
                    <p>
                        Esta es la sección en la que se encuentra
                        ahora mismo y solo explica detalles generales de como funciona el panel de control. En caso de
                        tener otras dudas o consultas puede dirigirse a la sección de Preguntas y Respuestas haciendo
                        click en<img th:src="@{/static/img/faq-btn-img.png}" style="width: 55px; height: 30px;" alt="imagen FAQ">
                    </p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-chart-bar text-primary pe-2"></i> Elecciones</h6>
                    <p>
                        Aquí podrá ver todas las elecciones, las que aún no inician, las que están en progreso,
                        las finalizadas y las suspendidas. Podrá igualmente editar campos como la descripción
                        general, suspender o volver a activar el proceso, agregar/editar/remover <strong><u>propuestas</u></strong>
                        y agregar una imagen de perfil.
                    </p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-tag text-primary pe-2"></i> Nueva Elección
                    </h6>
                    <p>
                        Esto es un 'atajo' a la vista que le permitirá crear una nueva elección,
                        para ello deberá establecer el título, una descripción general, definir la fecha y hora de
                        inicio y término además de agregar los detalles que servirán como contexto a los votantes
                        que deseen participar.
                    </p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-calendar text-primary pe-2"></i> Calendario
                    </h6>
                    <p>
                        En este espacio encontrará una <strong><u>agenda incorporada</u></strong> cuyo fin es asistir,
                        a través del registro de "eventos", en su tarea como administrador(a).
                    </p>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-users text-primary pe-2"></i> Padrón Electoral
                    </h6>
                    <p>
                        Esta sección incluye un registro global del padrón electoral de cada proceso de elección.
                        El padrón puede estar conformado con votantes tanto registrados como no registrados en el sistema.
                        Además, cada padrón incluye información adicional sobre cada usuario como si éste está
                        registrado o no, la fecha y hora de ingreso en el padrón y correo de contacto.
                    </p>
                </div>

                <!-- Enable this section when the ".../analytics" view is created
                <div class="col-md-6 col-lg-4 mb-4">
                    <h6 class="mb-3 text-primary"><i class="fas fa-chart-line text-primary pe-2"></i> Estadísticas
                    </h6>
                    <p>
                        Aquí encontrará un <strong><u>centro de análisis</u></strong> con indicadores,
                        porcentajes de participación, segmentación y más.
                    </p>
                </div>
                -->
            </div>
        </section>
        <!--Section: Inicio -->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>