<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-dash-voter}">
<head>
    <title>Elecciones</title>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!--Section: Lista Elecciones -->
        <section class="content pt-5 mb-9 mx-auto">
            <h3 class="text-left mb-4 pb-2 text-primary fw-bold">Elecciones</h3>
            <p class="text-left mb-2">
                <i class="fa-regular fa-hand-point-right me-1"></i> En esta sección podrá ver todas las elecciones
                disponibles. Cada proceso tiene un <strong>padrón electoral</strong> definido por el administrador
                creador de la elección. Si usted desea participar de un proceso, primero debe mandar una solicitud al
                correo del administrador para ser ingresado en el padrón de éste, una vez aceptada su solicitud e
                ingresado su nombre al padrón, podrá ver en esta sección la opción de ingresar a la
                <strong>urna virtual</strong> de la elección, donde verá los detalles de las
                <strong>propuestas</strong> y podrá emitir su voto para alguna de ellas.
            </p>
            <p class="text-left">
                <i class="fa-regular fa-hand-point-right me-1"></i> Las elecciones tienen un <strong>status</strong> que
                indica en qué estado se encuentra actualmente el proceso, en función de este estado, usted sabrá que se
                puede (y que no se puede) hacer:
            </p>
            <p class="text-left">
                <span class="badge badge-primary rounded-pill me-2">NO INICIADO</span> Indica que el proceso está
                disponible pero aún no comienza. Si usted está registrado en el padrón para esta elección podrá ingresar
                y ver las propuestas, pero aún no podrá votar por ninguna de ellas.
            </p>
            <p class="text-left">
                <span class="badge badge-success rounded-pill me-2">EN PROCESO</span> Indica que la elección ya ha
                comenzado y que aún no termina. Ahora podrá ingresar y emitir su voto por su propuesta preferida.
            </p>
            <p class="text-left mb-5">
                <span class="badge badge-warning rounded-pill me-2">FINALIZADO</span> Indica que el proceso ya terminó.
                Al ingresar podrá ver los resultados.
            </p>

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    <p><strong>¡Su voto fue emitido con éxito!</strong></p>
                    <p>
                        Gracias por participar en el proceso y recuerde estar atento
                        a la fecha y hora de término ya que entonces podrá ver los resultados.
                    </p>
                </div>
            </div>

            <div class="shadow-4 rounded-5 overflow-auto">
                <table class="table table-borderless table-responsive-md table-striped align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th class="w-50 fw-bold">Título</th>
                        <th class="w-50 fw-bold">Descripción</th>
                        <th class="w-25 fw-bold">Status</th>
                        <th class="w-25 fw-bold">Inicio / Término</th>
                        <th class="w-25 fw-bold">Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${voterElectionsList.isEmpty() }">
                        <td colspan="5">Aquí podrá ver el detalle de las elecciones registradas. Si una elección que
                            ya fue creada no aparece, puede ser debido a que usted no se encuentre ingresado en el
                            <strong>padrón electoral</strong> de dicha elección, en cuyo caso le recomendamos
                            ponerse en contacto con el administrador.</td>
                    </tr>
                    <tr th:each="election : ${voterElectionsList}">
                        <td>
                            <div class="d-flex align-items-center">
                                <img
                                        th:if="${#strings.isEmpty(election.profileImagePath)}"
                                        th:src="@{/static/img/election-default.jpg}"
                                        alt="election-default"
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                />
                                <img
                                        th:unless="${#strings.isEmpty(election.profileImagePath)}"
                                        th:src="${election.profileImagePath}"
                                        alt="election-default"
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1" th:text="${election.title}"></p>
                                    <p class="badge badge-light text-muted mb-0"
                                       th:each="topic : ${election.topics}"
                                       th:text="'#' + ${topic}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0" th:text="${election.briefDescription}"></p>
                        </td>
                        <td th:switch="${election.status}">
                            <span th:case="'NO INICIADO'" class="badge badge-primary rounded-pill">NO INICIADO</span>
                            <span th:case="'EN PROGRESO'" class="badge badge-success rounded-pill">EN PROGRESO</span>
                            <span th:case="'FINALIZADO'" class="badge badge-warning rounded-pill">FINALIZADO</span>
                            <!-- <span th:case="'SUSPENDIDO'" class="badge badge-secondary rounded-pill">SUSPENDIDO</span> -->
                        </td>
                        <td th:switch="${election.status}">
                            <span th:case="'NO INICIADO'"
                                  class="badge badge-secondary rounded-pill"
                                  style="font-size: 13px;"
                                  th:text="${#temporals.format(election.initTimestamp, 'dd-MM-yyyy HH:mm')}"></span>
                            <span th:case="'EN PROGRESO'"
                                  class="badge badge-secondary rounded-pill"
                                  style="font-size: 13px;"
                                  th:text="${#temporals.format(election.finishTimestamp, 'dd-MM-yyyy HH:mm')}"></span>
                            <span th:case="'FINALIZADO'"
                                  class="badge badge-secondary rounded-pill"
                                  style="font-size: 13px;"
                                  th:text="${#temporals.format(election.finishTimestamp, 'dd-MM-yyyy HH:mm')}"></span>
                        </td>
                        <td th:switch="${election.status}">
                            <a
                                    th:case="'NO INICIADO'"
                                    th:href="@{/auth-voter/user-election-details(uid=${election.title})}"
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fs-7 d-flex"
                                    data-mdb-ripple-color="dark">
                                Ver Proceso
                                <i class="fa-solid fa-eye ms-3"></i>
                            </a>
                            <a
                                    th:case="'EN PROGRESO'"
                                    th:href="@{/auth-voter/user-ballot-box(uid=${election.title})}"
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fs-7 d-flex"
                                    data-mdb-ripple-color="dark">
                                Votar
                                <i class="fa fa-marker ms-3"></i>
                            </a>
                            <a
                                    th:case="'FINALIZADO'"
                                    th:href="@{/auth-voter/user-election-results(uid=${election.title})}"
                                    type="button"
                                    class="btn btn-link btn-rounded btn-sm fs-7 d-flex"
                                    data-mdb-ripple-color="dark">
                                Ver Resultados
                                <i class="fa fa-file ms-3"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <!--Section: Lista Elecciones -->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>