<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-dash-voter}">
<head>
    <title>Detalles Elección</title>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!-- Section: Detalles Elección -->
        <section class="content pt-5 mb-9 mx-auto" data-aos="fade-in">
                <h4 class="text-left mb-3 pb-2 text-primary fw-bold">Detalles del Proceso</h4>
            <p class="text-left mb-5">
                <i class="fa-regular fa-hand-point-right me-1"></i> Detalles
            </p>

        </section>
        <!-- Section: Detalles Elección -->


        <!-- Section: Propuestas -->
        <section class="content pt-5 mb-9 mx-auto" data-aos="fade-in">
            <h4 class="text-left mb-3 pb-2 text-primary fw-bold">Propuestas</h4>
            <p class="text-left mb-5">
                <i class="fa-regular fa-hand-point-right me-1"></i> En esta sección usted, como parte del padrón
                electoral, podrá ver todos los detalles relevantes sobre cada <strong>propuesta activa</strong>
                para esta elección.
            </p>


            <div class="shadow-4 rounded-5 overflow-auto">
                <table class="table table-borderless table-responsive-md table-striped align-middle mb-0 bg-white">
                    <thead class="bg-light">
                    <tr>
                        <th class="w-25 fw-bold">Nombre y Correo</th>
                        <th class="w-50 fw-bold">Propuesta</th>
                        <th class="fw-bold" style="width: 20%;">Redes</th>
                        <th class="w-25 fw-bold">Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${proposalsList.isEmpty() }">
                        <td colspan="5">Aún no hay propuestas registradas para esta elección. Comunicarse con el/la
                            administrador/a para más detalles.</td>
                    </tr>
                    <tr th:each="proposal : ${proposalsList}">
                        <td>
                            <div class="d-flex align-items-center">
                                <img
                                        th:src="@{/static/img/proposal-default.jpg}"
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                                />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1" th:text="${proposal.name}"></p>
                                    <div>
                                        <p class="badge badge-light text-muted mb-0" th:text="${proposal.contactEmail}"></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted mb-0" th:text="${proposal.details}"></p>
                        </td>
                        <td>
                            <!--
                            <span class="badge badge-secondary rounded-pill"
                                  style="font-size: 13px;" th:text="${#temporals.format(proposal.createdAt, 'dd-MM-yyyy HH:mm')}">
                            </span>
                            -->
                            <i class="fa-brands fa-facebook fa-lg text-black fa-fw mx-1"></i>
                            <i class="fa-brands fa-twitter fa-lg text-black fa-fw mx-1"></i>
                            <img th:src="@{/static/img/threads-logo-edit1.png}"
                                 class="mx-1" style="width: 20px; height: 21px;padding-bottom: 3px;">
                            <i class="fa-brands fa-linkedin fa-lg text-black fa-fw mx-1"></i>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn text-primary btn-sm btn-rounded d-flex"
                                    data-mdb-ripple-color="dark"
                                    data-mdb-toggle="modal"
                                    data-mdb-target="#editProposalModal">
                                Detalles
                                <i class="fa fa-file ms-4"></i>
                            </button>

                            <!-- HERE GOES THE MODAL WITH THE DETAILS -->


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </section>
        <!-- Section: Propuestas -->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>