<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_dash}">
<head>
    <title>Bienvenido</title>
</head>
<body style="min-height:100vh;">
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <!--Section: Inicio Votante -->
        <section class="content pt-5 mb-9 mx-auto">
            <h3 class="text-left mb-4 pb-2 text-primary fw-bold">Bienvenido/a Votante</h3>
        </section>
        <!--Section: Inicio Votante-->
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>