@media (min-width: 991.98px) {
  .content {
    padding-left: 240px;
  }
}

/*
.section {
  padding-left: 240px;
}
*/

.navbar {
  z-index: 601;
}

.bg-primary {
  position: absolute;
  z-index: 601;
  width: 100%;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 80px 0 0; /* App height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 50;
  overflow-y: auto;
}

/* This is for the height of the box */
.select2-selection, .select-container--open {
    line-height: 23px !important;
    max-width: 100%;
}

/* This is for control the height of the displayed items box */
.select2-container--default .select2-results > .select2-results__options {
    line-height: 20px;
    max-height: 10px;
    overflow-y: auto;
}

/* This is for control the selected tags height and border */
.select2-selection__choice {
    line-height: 22px;
    border-radius: 20px !important;
}

/* To separate the input box from the box with the options */
.select2-container--below{
    padding-bottom: 5px;
}

/*:::: Responsive ::::*/
@media (max-width: 991.98px) {
  .content{
    padding-left: 5px;
  }

  .sidebar {
    width: 100%;
    padding-top: 175px;
    position: absolute;
    height: 70%;
  }

  .list-group {
    width: 90%;
  }

  #sidebar-container {
    width: 70%;
    align-items: center;
    margin: 0px 15% 0px;
  }

  .section {

  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  padding-top: 0.2rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
