<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Reestablecer Contraseña</title>

    <script type="text/javascript" th:inline="javascript">
        document.addEventListener("DOMContentLoaded", () => {
            const hidePassword = document.querySelector("#hidePassword");
            const passwordField = document.querySelector("#password");

            hidePassword.addEventListener("click", function() {
                if(this.classList.contains("fa-eye-slash")){
                    this.classList.replace("fa-eye-slash", "fa-eye");
                } else {
                    this.classList.replace("fa-eye", "fa-eye-slash");
                }
                const inputType = passwordField.getAttribute("type")
                === "password" ? "text" : "password";
                passwordField.setAttribute("type", inputType);
            });
        });
    </script>
    <script type="text/javascript" th:inline="javascript">
        function validateRepeatPassword() {
                var p = document.getElementById("password").value;
                var cp = document.getElementById("confirmPassword").value;
            if(p === cp) {
                return true;
            } else {
                alert("Las contraseñas no coindicen");
                return false;
            }
        }
    </script>

</head>
<body>
<!--:::: Main ::::-->
<main>
    <div layout:fragment="body" class="container">
        <div class="row py-5">
            <div class="col-md-6 d-wrap me-7">
                <div class="text-left col-mx-2 px-5 py-5 mt-2" data-aos="fade-right" data-aos-duration="700">
                    <h1 class="body-brand me-4 mx-5">
                <span class="bg-light rounded px-0 py-1 mb-1 fs-1"
                      style="font-weight: bold; font-size: 50px;">neovote</span>
                    </h1>
                    <hr class="h-color mx-4">
                    <p class="mx-5 fs-5 mt-4">Sistema de votación en línea.</p>
                    <p class="mx-5 fs-5">Simple. Seguro.</p>
                </div>
            </div>

            <!-- Reset Password Form -->
            <div class="col-md-5 d-wrap mb-9 mt-5">
                <!-- Form content -->
                <div class="tab-content" data-aos="fade-in">
                    <!-- <p th:if="${loginError}" class="error"></p> -->

                    <form action="#" th:action="@{/pwd/change}" th:object="${forgotPassword}"
                          onsubmit="return validateRepeatPassword();" method="post" role="form">

                        <!--
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                <span th:text="#{login.error}"/>
                                Su cuenta aún no está verificada o las credenciales son inválidas
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">Has cerrado sesión</div>
                        </div>
                        <div th:if="${tokenError}">
                            <div class="alert alert-danger" th:text="${tokenError}"></div>
                        </div>
                        -->
                        <div th:if="${passwordUpdateMsg}">
                            <div class="alert alert-info" th:text="${passwordUpdateMsg}"></div>
                        </div>

                        <div th:if="${invalidPassword}">
                            <div class="alert alert-danger" th:text="${invalidPassword}"></div>
                        </div>

                        <!-- OAuth login
                        <div class="text-center mb-3">
                            <p>Inicia sesión con:</p>
                            <button type="button" class="btn btn-secondary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>

                            <button type="button" class="btn btn-secondary btn-floating mx-1">
                                <i class="fab fa-google"></i>
                            </button>
                        </div>

                        <p class="text-center">o :</p>
                        -->

                        <!-- Password input -->
                        <!-- validation error display -->
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}">
                            <!-- <p th:errors="*{password}"></p> -->
                            <p>Por motivos de seguridad, su contraseña debe tener mínimo 8 caracteres e incluir
                                una mayúscula, una minúscula, un número y un símbolo</p>
                        </div>
                        <div id="passwordHelpBlock" class="form-text mb-1">
                            Recuerda que tu contraseña debe tener de 8 a 20 caracteres y contener al menos una minúscula,
                            una mayúscula, un número y un símbolo.
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" th:field="*{password}"
                                   th:errorclass="is-invalid"/>
                            <i class="fa-solid fa-eye-slash d-flex justify-content-end"
                               id="hidePassword"
                               style="position: absolute;right: 4%; bottom: 27%;color: lightgray;"></i>
                            <label class="form-label" for="password">Contaseña</label>
                        </div>

                        <!-- Confirm Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                                   th:field="*{repeatPassword}"/>
                            <label class="form-label" for="confirmPassword">Repetir Contraseña</label>
                        </div>

                        <input type="hidden" th:field="*{token}" />

                        <!-- Submit button --> <!-- attr tacked out value="resetPassword" -->
                        <button type="submit" class="btn btn-primary btn-block mb-4 fs-6">Guardar Nueva
                            Contraseña
                        </button>

                        <!-- Register button -->
                        <div class="text-center">
                            <p><a th:href="@{/login}">Iniciar Sesión</a></p>
                        </div>
                    </form>
                </div>
                <!-- Form content -->
            </div>
            <!-- Login Form -->
        </div>
    </div>
</main>
<!--:::: Main ::::-->
</body>
</html>

</body>
</html>